/bak/
/.ipynb_checkpoints/
/allele_definition/
/automate_annotation/
/clinical_annotation/
/clinical_variant/
/diplotype/
/drug_label/
/frequency/
/functionality/
/genes/
/guideline_annotation/
/haplotype_bak/
/variant_annotation/
/variants/
/processed/
/relationship/
/json/
