dgl==0.4.3
dglke==0.1.2
torch==1.8.0
pandas==1.1.5
cmake==3.18.4
openpyxl==3.0.7
neo4j==4.3.1 # need to fix packstream folder manually
requests==2.26.0
Beautifulsoup4==4.10.0
selenium==3.141.0
msedge-selenium-tools==3.141.3
tqdm==4.62.3
lxml==4.6.3
html5lib==1.1
py2neo==2021.2.3
googletrans==4.0.0rc1
